/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
:root.theme_light {
  --main-font: "IBM Plex Mono", bold regular;
  --size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  /* --Светлые--*/
 --text-line-header-light:  #353430;
 --head-color-light: #FFC2E6; 
 --back-text-color-light: #FF8DCB;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: "IBM Plex Mono", bold regular;
    --size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        /*--Светлая--*/
   --text-line-header-light:  #353430;
   --head-color-light: #FFC2E6; 
   --back-text-color-light: #FF8DCB;   
  }
}

.page.theme_light {
  background-image: url("../images/cover-image-light.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.theme_light .header_rec {
  display: none;
}

.theme_light .header_logo {
  display: none;
}

.theme_light .header_rectangle-rigth {
  border-top: 1px solid var(--text-line-header-light);
  border-right: 1px solid var(--text-line-header-light);
}

.theme_light .header_rectangle-left {
  border-bottom: 1px solid var(--text-line-header-light);
  border-left: 1px solid var(--text-line-header-light);
}

.theme_light .header__theme-menu-item {
  color: var(--text-line-header-light);
}

.theme_light .header__theme-menu-button_type_light {
  outline: 1px solid var(--text-line-header-light);
}

.theme_light .header__theme-menu-button_type_auto {
  outline: none;
  opacity: 1;
}

.theme_light .header__theme-menu-button_type_light:hover {
  cursor: pointer;
  opacity: 0.5;
  outline: 1px solid var(--text-line-header-light);
  color: var(--text-line-header-light);
}

.theme_light .header__theme-menu-button_type_auto:hover {
  cursor: pointer;
  opacity: 0.5;
  outline: 1px solid var(--text-line-header-light);
  color: var(--text-line-header-light);
}

.theme_light .header__theme-menu-button_type_dark:hover {
  cursor: pointer;
  opacity: 0.5;
  outline: 1px solid var(--text-line-header-light);
  color: var(--text-line-header-light);
}

.theme_light .header__theme-menu-button:focus {
  outline: none;
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.theme_light .header__theme-menu-button:focus-visible {
  border: none;
  opacity: 0.5;
  outline: 1px solid var(--text-line-header-light);
}

.theme_light .header_title {
  color: var(--head-color-light);
  text-shadow: 4px 4px 0px var(--back-text-color-light);
}

.theme_light .header_text-decor {
  color: var(--text-line-header-light);
  background-color: var(--back-text-color-light);
}

.theme_light .content_block-header-first {
  color: var(--back-line-color-light);
}

.theme_light .content_block-header-second {
  color: var(--back-line-color-light);
}

.theme_light .content_block-header-third {
  color: var(--back-line-color-light);
}

.theme_light .content_block-subheader-first {
  color: var(--text-line-header-light);
  background-color: var(--back-text-color-light);
}

.theme_light .content_block-subheader-second {
  color: var(--text-line-header-light);
  background-color: var(--back-text-color-light);
}

.theme_light .content_block-subheader-third {
  color: var(--text-line-header-light);
  background-color: var(--back-text-color-light);
}

.theme_light .content_block-subheader-fourth {
  color: var(--text-line-header-light);
  background-color: var(--back-text-color-light);
}

.theme_light .content_block-subheader-subtitle {
  color: var(--text-line-header-light);
  background-color: var(--back-text-color-light);
}

.theme_light .content_block-text-first {
  color: var(--text-line-header-light);
}

.theme_light .content_block-text-second {
  color: var(--text-line-header-light);
}

.theme_light .content_block-text-third {
  color: var(--text-line-header-light);
}

.theme_light .content_block-text-third-footer {
  color: var(--text-line-header-light);
}

.theme_light .word:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.theme_light .word:focus {
  text-decoration: none;
  outline: 1px solid var(--text-line-header-light);
  color: var(--text-line-header-light);
}

.theme_light .word:focus-visible {
  text-decoration: none;
  outline: 1px solid var(--text-line-header-light);
  color: var(--text-line-header-light);
}

.theme_light .word {
  text-shadow: 2px 2px 0px var(--back-text-color-light);
}

.theme_light .footer_title {
  color: var(--head-color-light);
  text-shadow: 2px 2px 0px var(--back-text-color-light);
}

.theme_light .footer_rectangle-rigth {
  border: 1px solid var(--text-line-header-light);
  border-left: none;
  border-bottom: none;
}

.theme_light .footer_rectangle-left {
  border: 1px solid var(--text-line-header-light);
  border-top: none;
  border-right: none;
}  