:root {
  --main-font: "IBM Plex Mono";
  --size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  /* <--Тёмные--> */
  --header-rec-display: #ff0070;
  --header-rec-color: #ff0070;
  --head-color: #db00ff;
  --content-text: #f1b2ce;
  --back-line-color: #ff0070;
  --text-header-color: #ff0070;
  --button-color: #ff0070;
  --button-hover: rgba(255, 0, 112, 0.5);
  --text-color-header: #000028;
  --rectangle-color: #ff0070;
  --page-background-image: url("../images/cover-image-dark.png");
}
